# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables and API keys
.env

# Video/audio files
data/videos/
data/audio/

# Generated vector database
vector_db/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
.env